<div>
  <input style="width: 50%;height: 36px;" placeholder="search book" type="text" name="query" [(ngModel)]="query">
  <button mat-raised-button (click)="search()">Search</button>
  <table>
    <tr *ngFor='let item of items'>
      <td>
        <img [src]='item.volumeInfo.imageLinks.thumbnail'/>
        <label>{{item.volumeInfo.title}}</label>
        <button mat-raised-button (click)="detail(item.id,item.selfLink)">Detail</button>
      </td>
    </tr>
  </table>
</div>
