<table *ngIf='book'>
  <tr>
    <td><b>{{book.volumeInfo.title}}</b></td>
    <td *ngIf="isLoggedin"><button mat-raised-button (click)="add()">Add to Bookmark</button></td>
  </tr>
  <tr [innerHTML]="book.volumeInfo.description"></tr>
  <tr><iframe frameborder="0" scrolling="no" style="border:0px" [src]="sanitizer.bypassSecurityTrustResourceUrl(src)" width=500 height=500></iframe></tr>
</table>
