<form class="example-form" *ngIf='!isLoggedIn'>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" type="email" name="email" [(ngModel)]="email">
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" type="password" name="password" [(ngModel)]="password">
    </mat-form-field>

    <button mat-raised-button type="button" (click)='login()'>Login</button>   
</form>
<div *ngIf='isLoggedIn'>
  <label>{{name}} is Logged in</label>
  <button mat-raised-button type="button" (click)='logout()'>Logout</button>
</div>
<hr>
<mat-button-toggle (click)="show = !show">Show Sign Up</mat-button-toggle>
<form *ngIf="show" class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Username" type="text" name="signName" [(ngModel)]="signUpName">
    </mat-form-field> 
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" type="email" name="signEmail" [(ngModel)]="signUpEmail">
    </mat-form-field>    
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" type="password" name="signPw" [(ngModel)]="signUpPw">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password again" type="password" name="cofirmPw" [(ngModel)]="confirmPw">
    </mat-form-field>

    <button mat-raised-button type="button" (click)="signUp()">Sign Up</button>
</form>

  
