<div *ngIf='isLoggedin'>
  <table>
    <tr *ngFor="let bookmark of bookmarks">
      <td><img [src]='bookmark.volumeInfo.imageLinks.thumbnail'/></td>
      <td><label>{{bookmark.volumeInfo.title}}</label></td> 
      <td><button mat-raised-button (click)="detail(bookmark.id,bookmark.selfLink)">Detail</button></td>
      <td><button mat-raised-button (click)="remove(bookmark.id)">Remove this bookmark</button></td>  
    </tr>
  </table>
</div>
<div *ngIf='!isLoggedin'>
  <div>Please Login first!</div>
</div>
