<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Online Library!
  </h1>
</div>
<div>
  <nav>
    <a routerLink="/booklist" routerLinkActive="active">Book List</a>
    <a routerLink="/mybookmarks" routerLinkActive="active">My Bookmarks</a>
    <a routerLink="/login" routerLinkActive="active">Login/Logout/SignUp</a>
  </nav>
  <hr>
  <router-outlet></router-outlet>
</div>

